**/__pycache__/
*.egg-info/
*.py[cod]

/.build/
/.dev/
/.pytest_cache/
/.ruff_cache/
/.venv/
/.venv-linux/
/.venv-win/
/.venv-wsl/
/build/
/dist/
/tmp-mc/

/.codeql/
/.idea/
/.vscode/
/.DS_Store

app.log
RELEASE_NOTES.md
